[Unit]
Description=Get WARP+ referral quote and notify users with Telegram Bot
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/root/warpplus
ExecStart=/usr/bin/env python3 warpplus.py
Restart=always
